

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


p {
	height: 120%;
	color: red;
	padding: 50px;
}
